*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: small-caps;
    -webkit-tap-highlight-color:transparent;
}
body{
    background-color: rgba(83, 83, 62, 0.285);
}
.main{
    background-color: rgba(235, 192, 192, 0.449);
    margin: 25px auto;
    width: 85%;
}
header{
    display: flex;
    color: blue;
    justify-content:space-evenly;
    margin: auto;
    width: 60%;
    font-size: 20px;
}
header a:hover{
    background-color:rgba(240, 131, 15, 0.918);
    border-radius: 10px;
}
header a{
    text-decoration: none;
}
header .anch{
    background-color: rgb(158, 218, 39);
}
.div1{
    padding:10px;
}
/*header is close*/
#first,#second,#third,#fourth,#fifth,#sixth,#seventh{
    clear: both;
}
/*All clear property*/
.topic{
    background-color: bisque;
}
 #word{
    text-align: center;
    width: 30%;
    padding: 5px;
    margin: auto;
    font-weight: 600;
    font-size: 3em;
    color: black;
    word-spacing: 3px;
}
.topic #word::first-letter{
    color: rgba(34, 199, 25, 0.714);
    font-size: 70px;
    font-weight: 800;
} 
/*topic is over*/
.img{
    background-color: whitesmoke;
    text-align: center;
    margin: auto;
    padding: 25px;
}
.radio{
    text-align: center;
    padding: 8px;
    margin: auto;
    color: gray;
}
/* img property is over*/
 .lorem1 > h1{
    background-color: rgb(175, 224, 77);
    text-align: center;
    padding: 15px;
    margin: auto;
    color: whitesmoke;
}
.lorem1 img{
    text-align: center;
    width: 65%;
    height: 65%;
}
.lorem1 .enter{
    padding: 15px;
    background-color: rgb(220, 139, 33);
    color: aliceblue;
}
.lorem1 .sec{
    background-color:yellowgreen;
    padding: 17px;
    margin: auto;
    font-size: 30px;
    color: white;
    text-align: right;
}
.lorem2 > h1{
    background-color: rgb(175, 224, 77);
    text-align: center;
    padding: 15px;
    margin: auto;
    color: whitesmoke;
}
.lorem2 img{
    align-content: center;
    width: 65%;
    height: 65%;
}
.lorem2 .enter{
    padding: 15px;
    background-color: rgb(220, 139, 33);
    color: aliceblue;
}
.lorem2 .sec{
    background-color:yellowgreen;
    padding: 17px;
    margin: auto;
    font-size: 30px;
    color: white;
    text-align: right;
}
.lorem3 > h1{
    background-color: rgb(175, 224, 77);
    text-align: center;
    padding: 15px;
    margin: auto;
    color: whitesmoke;
}
.lorem3 img{
    text-align: center;
    width: 65%;
    height: 65%;
}
.lorem3 .enter{
    padding: 15px;
    background-color: rgb(220, 139, 33);
    color: aliceblue;
}
.lorem3 .sec{
    background-color:yellowgreen;
    padding: 17px;
    margin: auto;
    font-size: 30px;
    color: white;
    text-align: right;
}
.lorem1,.lorem2,.lorem3{
    width: 33.333333333%;
    float: left;
    padding: 8px;
    margin: auto;
    background-color: rgba(194, 194, 194, 24%);
}
.lorem2{
    padding: 10px;
}
.lorem1{
    padding: 11px;
}
/*lorem is over */
.style1  h2,.style2 h2,.style3 h2{
     font-weight: 600;
     padding: 10px;
     color: black;
     background-color: beige;
     text-align: center;
}
.style2 h5,.style3 h5{
    color: rgb(240, 81, 18);
    background-color: beige;
    text-align: center;
    padding: 10px;
}
.style1 p{
    background-color: beige;
    color: rgba(241, 67, 14, 0.959);
    line-height: 32px;
    padding: 13px;
}
.style2 p,.style3 p{
    text-align: center;
    padding: 5px;
    color: rgba(241, 67, 14, 0.959);
    line-height: 25px;
    background-color: beige;
}
.style2 .button,.style3 .button{
    color: orangered;
    background-color:beige;
    padding: 5px;
    border-radius: 8px;
}
.style1,.style2,.style3{
    float: left;
    width: 33.3333333%;
    flex-grow: 1;
    padding: 10px;
    margin: auto;
    background-color: rgba(194, 194, 194, 24%);
}
/*style is over*/
.read,.read1,.read2,.read3{
    float: left;
}
.read,.read2{
   background-color:greenyellow ;
   color: azure;
   padding: 50px;
   margin: auto;
   width: 30%;
}
.read1,.read3{
    color: white;
    margin: auto;
    text-align: justify;
    width: 70%;
}
.overall h2::first-line{
    color: rgb(44, 224, 16);
    padding: 5px;
}
.overall{
    padding-left: 15px;
}
.mixed,.mixed1{
    float: left;
    width: 46%;
    background-color: rgba(76, 73, 69, 0.503);
    margin-left:20px;
    padding: 16px;
}
/*overall, mixed, read close*/
.footer{
    text-align: center;
    color: rgb(0,0,0);
    background-color: rgba(242, 235, 243, 0.9);
    padding: 15px;
    margin: auto;
}
/* start media query concept for mobile screen*/
 @media only screen and (max-width: 576px){
    header{
            width: 100%;
            flex-wrap: wrap;
    }
 }
 @media only screen and (max-width: 576px){
    .topic,.radio{
            width: 100%;
    }
 }
 @media only screen and (max-width: 576px){
    .lorem1,.lorem2,.lorem3{
            width: 100%;
            padding: 0;
    }
 }
 @media only screen and (max-width: 576px){
    .style1,.style2,.style3{
            width:100%;
            padding: 0;
    }
 }
 @media only screen and (max-width: 576px){
    .mixed,.mixed1{
            width: 100%;
            padding: 0;
    }
}
@media only screen and (max-width: 576px){
    .lorem1  img,.lorem2  img,.lorem3  img{
            background-color:lightgray;
            width: 75%;
            height: 70%;
            padding: 0;
    }
 }
/*media querry  aplly is over*/